<div class="custom-grid" n:snippet="grid">
<ul class="list-inline" n:foreach="$grid as $row"> {*radky*}
    <li n:foreach="$row as $id => $content" id="{$id}" n:class="$content->active ? 'grid-cell old' : 'grid-cell'"> {*sloupce*}
        <a href="javascript:void(0);"></a>
    </li>
</ul>
</div>