<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
        {control css}
        {control js}
        {block scripts}
        {/block}
    </head>
    <body>
        <div class="container main-container">
            {include header.latte}
            {include content}
        </div>
    </body>
</html>
