body {
    background: url(../img/body-bg.jpg) 50% 0 no-repeat;
}

.main-container {
    padding-top: 40px;
}

.custom-grid a {
    background-color: gray;
    display: block;
    width: 50px;
    height: 50px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-grid a:hover, .custom-grid a:focus {
    background-color: #2ac7d2;
}

.custom-grid .active a {
    background-color: darkblue;
}

.custom-grid .old a{
    background-color: white;
}

